@font-face {
    font-family: Azonix;
    src: url("Azonix.otf") format("opentype");
}

body {
    font-family: Azonix, sans-serif;
    color: white;
    text-align: center;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#adjust-terms {
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    height: 100%;
    width: 20%;
    left: 80%;
    top: 0;
}

.mdc-slider {
    width: 80% !important;
    align-self: center;
}
